Pandas kutubxonasi

Series ma'lumotlar tuzilmasi

In [1]:
import pandas as pd # pandas kutubxonasini chaqirib olish
from pandas import Series # pandas kutubxonasidagi Series funksiyasini chaqirib olish

In [2]:
obj = Series([4, 5.7, 6.3, 7, 8.1])
obj

0    4.0
1    5.7
2    6.3
3    7.0
4    8.1
dtype: float64

In [3]:
type(obj)

pandas.core.series.Series

In [4]:
obj.values

array([4. , 5.7, 6.3, 7. , 8.1])

In [5]:
obj.index

RangeIndex(start=0, stop=5, step=1)

In [6]:
obj1 = Series([4, 6, 8, 10], index=['a', 'b', 'c', 'd'])
obj1

a     4
b     6
c     8
d    10
dtype: int64

In [8]:
obj1['b']

6

In [9]:
obj1[['a', 'b', 'd']]

a     4
b     6
d    10
dtype: int64

In [11]:
obj1[obj1>7]

c     8
d    10
dtype: int64

In [12]:
obj1*2

a     8
b    12
c    16
d    20
dtype: int64

Lug'atdan Series yaratish

In [18]:
cars_dict = {'Malibu':40000, 'Lacetti':15000, 'Spark':8000, 'Cobalt':11000} # python dict
cars = Series(cars_dict) # series lug'at
cars

Malibu     40000
Lacetti    15000
Spark       8000
Cobalt     11000
dtype: int64

In [19]:
cars.name = 'Avtosalon'
cars.index.name = 'Modellar'

In [20]:
cars

Modellar
Malibu     40000
Lacetti    15000
Spark       8000
Cobalt     11000
Name: Avtosalon, dtype: int64

DataFrame ma'lumotlar tuzilmasi

In [21]:
from pandas import DataFrame # DataFrame ma'lumotlar tuzilmasini chaqirib olish

In [24]:
data = {
    'Yil':[2015, 2016, 2017, 2018],
    'Aholi':[32.4, 32.9, 33.5, 34],
    'Temp':[1.54, 1.67, 1.72, 1.81]
}
df = DataFrame(data)
df

    Yil  Aholi  Temp
0  2015   32.4  1.54
1  2016   32.9  1.67
2  2017   33.5  1.72
3  2018   34.0  1.81

In [25]:
df.shape # hajmi (q, u). q - qatorlar soni, u - ustunlar soni

(4, 3)

In [27]:
df = pd.DataFrame(data, columns=['Yil', 'Aholi', 'Temp', 'YaIM'])
df

    Yil  Aholi  Temp YaIM
0  2015   32.4  1.54  NaN
1  2016   32.9  1.67  NaN
2  2017   33.5  1.72  NaN
3  2018   34.0  1.81  NaN

In [28]:
val = pd.Series([1600, 1220, 1500], index=[0, 2, 3])
df.YaIM = val
df

    Yil  Aholi  Temp    YaIM
0  2015   32.4  1.54  1600.0
1  2016   32.9  1.67     NaN
2  2017   33.5  1.72  1220.0
3  2018   34.0  1.81  1500.0

Lug'atdan Dataframe yaratish

In [62]:
data = {
    'Uzb':{2015:33.2, 2016:34.1, 2017:35.2},
    'Kz':{2015:18.9, 2016:19.2, 2017:19.8},
    'Taj':{2015:7.4, 2016:7.8, 2017:8.2}
}
df = DataFrame(data)
df

       Uzb    Kz  Taj
2015  33.2  18.9  7.4
2016  34.1  19.2  7.8
2017  35.2  19.8  8.2

In [55]:
df.T

     2015  2016  2017
Uzb  33.2  34.1  35.2
Kz   18.9  19.2  19.8
Taj   7.4   7.8   8.2

In [56]:
df.values

array([[33.2, 18.9,  7.4],
       [34.1, 19.2,  7.8],
       [35.2, 19.8,  8.2]])

In [57]:
df.index

Int64Index([2015, 2016, 2017], dtype='int64')

In [33]:
df.columns

Index(['Uzb', 'Kz', 'Taj'], dtype='object')

DataFrame indekslar

In [35]:
cols = df.columns # ustunlari nomini o'zgaruvchiga saqlab olish

In [36]:
'Uzb' in cols # Uzb df ustunlarini ichida boligini tekshirish

True

In [37]:
idx = df.index

In [40]:
2015 in idx

True

Indeks metodlar

#append

In [64]:
df['Kyr'] = pd.Series([3.4, 3.8, 4], index=[2015, 2016, 2017])
df

       Uzb    Kz  Taj  Kyr
2015  33.2  18.9  7.4  3.4
2016  34.1  19.2  7.8  3.8
2017  35.2  19.8  8.2  4.0

#isin

In [59]:
ind = pd.Index([2015, 2017, 2018])
ind.isin(df.index)

array([ True,  True, False])

#delete

In [47]:
df.index.delete(1) # 1-tartib raqamda turhan qatorni barchasini o'chiradi

Int64Index([2015, 2017], dtype='int64')

#drop

In [48]:
df.index.drop(2015) # nomi bilan o'chiradi

Int64Index([2016, 2017], dtype='int64')

#insert

In [65]:
df.index.insert(3, 2018)

Int64Index([2015, 2016, 2017, 2018], dtype='int64')

.loc, .iloc, .at, .iat

#.loc - nomi bilan murojaat

In [67]:
data = {
    'Uzb':{2015:33.2, 2016:34.1, 2017:35.2},
    'Kz':{2015:18.9, 2016:19.2, 2017:19.8},
    'Taj':{2015:7.4, 2016:7.8, 2017:8.2}
}
df = DataFrame(data)
df

       Uzb    Kz  Taj
2015  33.2  18.9  7.4
2016  34.1  19.2  7.8
2017  35.2  19.8  8.2

In [70]:
df.loc[2017] # Series ko'rinishida

Uzb    35.2
Kz     19.8
Taj     8.2
Name: 2017, dtype: float64

In [71]:
df.loc[[2017]] # DataFrame ko'rinishida

       Uzb    Kz  Taj
2017  35.2  19.8  8.2

In [73]:
df.loc[[2015, 2017], ['Uzb', 'Taj']] # bir nechtasiga murojaat

       Uzb  Taj
2015  33.2  7.4
2017  35.2  8.2

#.iloc - tartib raqami bilan murojaat

In [76]:
df.iloc[[0], [0, 2]] # 0-indeksdagi hamda 0- va 2-qatorlardagi ma'lumot

       Uzb  Taj
2015  33.2  7.4

#.at - bir dona qiymatni nomi bilan ajratish

In [77]:
df.at[2015, 'Kz']

18.9

#.iat - bir dona qiymatni tartib raqami bilan ajratish

In [78]:
df.iat[1, 2] # 1-indeks, 1-qatordagi ma'lumotning qiymati

7.8

Funksiyalarni qo'llash

#mean

In [79]:
df.mean(axis=1) # qatorlar bo'yicha o'rtacha

2015    19.833333
2016    20.366667
2017    21.066667
dtype: float64

#apply

In [80]:
df.apply(sum, axis=1) # qatorlari bo'yicha yig'indi

2015    59.5
2016    61.1
2017    63.2
dtype: float64

In [81]:
df.apply(lambda x: x.max()-x.min()) # max dan min ni ayirmasi lambda orqali

Uzb    2.0
Kz     0.9
Taj    0.8
dtype: float64

Tartiblash

In [82]:
data = {
    'Uzb':{2016:33.2, 2017:34.1, 2015:35.2},
    'Kz':{2016:18.9, 2017:19.2, 2015:19.8},
    'Taj':{2016:7.4, 2017:7.8, 2015:8.2}
}
df = DataFrame(data)
df

       Uzb    Kz  Taj
2016  33.2  18.9  7.4
2017  34.1  19.2  7.8
2015  35.2  19.8  8.2

#sort_index()

In [83]:
df.sort_index()

       Uzb    Kz  Taj
2015  35.2  19.8  8.2
2016  33.2  18.9  7.4
2017  34.1  19.2  7.8

#sort_values()

In [85]:
df.sort_values(by='Uzb') # uzb ustuni bo'yicha qiymatlari orqali tartiblash

       Uzb    Kz  Taj
2016  33.2  18.9  7.4
2017  34.1  19.2  7.8
2015  35.2  19.8  8.2

Dataset statistikasi: min, max, o'rta qiymat, summa

In [87]:
df.idxmax() # qiymati eng katta indeksni chiqaradi
df.idxmin() # qiymati eng kichik indeksni chiqaradi

In [90]:
df['Kz'].argmin() # eng kichik qiymatni tartib raqamini chiqaradi
df['Kz'].argmax() # eng katta qiymatni tartib raqamini chiqaradi

2

#describe - umumlashtiruvchi statistik ma'lumotlarni chiqaradi

In [91]:
df.describe()

             Uzb         Kz  Taj
count   3.000000   3.000000  3.0
mean   34.166667  19.300000  7.8
std     1.001665   0.458258  0.4
min    33.200000  18.900000  7.4
25%    33.650000  19.050000  7.6
50%    34.100000  19.200000  7.8
75%    34.650000  19.500000  8.0
max    35.200000  19.800000  8.2

#korrelyatsiya

In [92]:
df['Uzb'].corr(df['Kz']) # ustunlardagi bog'liqlik

0.9912407071619306

In [93]:
df.corr() # umumiy korrelyatsiya jadvali

          Uzb        Kz       Taj
Uzb  1.000000  0.991241  0.998337
Kz   0.991241  1.000000  0.981981
Taj  0.998337  0.981981  1.000000

In [95]:
df.corrwith(df['Uzb']) # Uzb ustunini qolgan uxtunlar bn korrelyatsiya jadvali

Uzb    1.000000
Kz     0.991241
Taj    0.998337
dtype: float64

Ma'lumotlarni filtrlash

In [97]:
df[df.Uzb>34]

       Uzb    Kz  Taj
2017  34.1  19.2  7.8
2015  35.2  19.8  8.2